.tooltip_j {
	/*     position: relative; */
	/*     display: inline-block; */
	/*     border-bottom: 1px dotted black; */
	
}

.tooltip_j .tooltiptext_j {
	visibility: hidden;
	width: auto;
	background-color: #d1ecf1;
	color: #0c5460;
	/* text-align: justify; */
	border-radius: 6px;
	border-color: red;
	padding: 10px;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	margin-top: -20px;
	margin-left: 20px;
}

.tooltip_j:hover .tooltiptext_j {
	visibility: visible;
}

.form-group {
	padding: 0 20px;
}

* {
	font-size: 0.95rem;
}

.card {
	margin-bottom: 50px;
}

.panelOption {
	/* background-color: rgba(0,0,0,.05); */
	border-radius: 6px;
	padding: 10px;
	margin-top: -20px;
	margin-left: 20px;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}

.autocomplete-suggestion {
	padding: 5px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: bold;
	color: #3399FF;
}

input:invalid {
  color: red;
  border-color: red;
}

.form-check {
	margin-bottom: 5px;
}