

body {
background-color:#FAFAFA;
 font-family:"trebuchet ms",sans-serif;
 font-size:90%;  /* taille de la police */
 margin-left: auto;
 margin-right : auto;
 width : 90%;
 }

 
 
 
 
form {
 background-color:#FAFAFA;
 padding:10px;
 width:90%;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:2px solid #002a4f;
 }
legend {
 color:#002a4f ;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color:#FFF3F3;
 }
input[type=text], textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio]{
/* display:inline; */
 background-color:red;
 border:none;
/*  width:2px; */

 }
input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }

form > fieldset > div > div {
/* 	background-color: purple; */
	display: inline-block;
	margin-right: 80px;
}

html body form fieldset#fs_vos_coord div div div {
	display: inline-block;
	
}

html body form fieldset div div div label {
	display: inline-block;
	color : #002a4f
}

html body form fieldset div div div {
	display: inline- block;
	
}



abbr {
position: relative;
}

abbr:hover::after {
position: absolute;
bottom: 100%;
left: 100%;
display: block;
padding: 1em;
background: #23aedc;
content: attr(title);
}


h3 {
	font-size:90%;
	 width: 70%;
}

.toto 
	{
background-color:#FAFAFA;
 font-family:"trebuchet ms",sans-serif;
  width: 90%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  }
  
  .toto2
  {
background-color:#FAFAFA;
 font-family:"trebuchet ms",sans-serif;
  width: 90%;
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
  }
  
